@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-5">CRM Application for BSM311 project</h1>

    <h6> You can login with "b221210374@sau.edu.tr" email and "B221210374sau." password</a>.</h6>
</div>

